h1{
    color: black;
    text-align: left;
}
h2{
    color: black;
    text-align: left;
}
p{
    text-align: justify;
}
h3{
    color: white;
}
img{
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
body{
    background-image: url(img/fondo.jpg);
}